<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.growapp.marvelheroes" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VolleyController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />

        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailInfoActivity"
            android:label="@string/title_activity_detail_info"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:authorities="com.growapp.marvelheroes"
            android:name =".data.HeroesContentProvider"
            android:exported = "true"
            android:grantUriPermissions="true"
            android:readPermission="com.growapp.marvelheroes.READ_HEROES"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3c7b3a488f9a53471ae4ec0f624811015f8d2fac" />
    </application>

</manifest>
